{% extends 'base.html' %}

 
{% load static %}

{% block content %}

 <h1 class="text-center mt-5"><bold>Descubre nuestra herramienta.</bold></h1>
 <h5 class="text-secondary text-center mt-3">Entrenar nunca ha sido tan fácil</h5>


<div class="row mt-5 pt-5">

    <div class="col-md-6 feature">

        <h3>Creador de rutinas</h3>

        <p class="mt-3 text-secondary">Simplemente selecciona tu cliente y creale una dieta desde 0 al instante o selecciona una dieta prestablecida, como plantilla.</p>

        <img class="card-img-top mt-5" src="{% static 'images/mockups/imagen3.png' %}" width= "100%" alt="Card image cap">

    </div>



</div>

{% endblock %}