{% extends 'base.html' %}

 
{% load static %}

{% block content %}

    <!-- presentacion del equipo -->

    <div class="row justify-content-center align-items-center" style="margin-top: 150px;"> 

        <div class="col-lg-6 col-md-6">

            <img src="https://esports.as.com/2020/02/06/g2-esports/Reven-Ibai-BarbeQ-Ander-Esports_1325577430_337828_800x600.jpg" style="border-radius: 20px;" width="100%"/>

        </div>

        <div class="col-lg-6 col-md-6">
            <h1 class="mb-3"><bold>Nuestro equipo</bold></h1>
            <p class="text-secondary">

                Somos un grupo de jovenes emprendedores expertos en todas las materias relevantes
                dentro de el desarrollo de un negocio online. Detrás de un buen producto siempre existe
                un buen equipo trabajando por el. Por eso queremos que nos conozcais.


            </p>
            

        </div>

    </div>  


    <!-- DIFERENTES MIEMBROS DEL MISMO EQUIPO -->

    {% for x in team_members %}

        {% if x.order|divisibleby:2 == True %}
        <div class="row mt-5 pt-5">

            <div class="col-md-6 text-center">

                <img width="100%" src="/media/{{ x.image }}" style="border-radius: 20px;" height="450px"></img>
            </div>


            <div class="col-md-6">

                <h2 class="mt-4" style="font-weight: 600;">{{ x.name}} </h2>
                <h5 class="text-secondary mt-2">{{ x.rol }}</h5>
                <p class="text-secondary mt-3">

                    {{ x.description }}

                </p>
            </div>


        </div>
        
        {% else %}

        <div class="row mt-5 pt-5">

            <div class="col-md-6">

                <h2 class="mt-4" style="font-weight: 600;">{{ x.name}} </h2>
                <h5 class="text-secondary mt-2">{{ x.rol }}</h5>
                <p class="text-secondary mt-3">

                    {{ x.description }}

                </p>
            </div>
            <div class="col-md-6 text-center">

                <img width="100%" src="/media/{{ x.image }}" style="border-radius: 20px; " height="450px"></img>
            </div>




        </div>

        {% endif %}

    {% endfor %}



{% endblock %}