
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>



<body class="mb-5">
    {% include 'navigation/header.html' %}

    <div class="container" style="max-width: 1500px;">

        {% block content %}

        {% endblock %}

    </div>

</body>
</html>